**/gmt.history
.DS_Store
host.gsfml
TOOLS/build
TOOLS/src/CK*.h
TOOLS/src/Chron_*.h
TOOLS/src/GST2004?.h
TOOLS/src/GST2012?.h
TOOLS/src/Geek2007?.h
TOOLS/src/gsfml_glue.c
TOOLS/build
TOOLS/cmake/ConfigUser.cmake
TOOLS/cmake/ConfigUserAdvanced.cmake
